<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改国家名称')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-country-edit" th:object="${ryProposalCountry}">
        <input name="countryId" th:field="*{countryId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">国家代码：</label>
            <div class="col-sm-8">
                <input name="countryCode" th:field="*{countryCode}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">申请国家 ：</label>
            <div class="col-sm-8">
                <input name="countryName" th:field="*{countryName}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "system/country";
    $("#form-country-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-country-edit').serialize());
        }
    }
</script>
</body>
</html>