<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增专利运用解押')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-releases-add">
        
        
        
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">专利提案编号：</label>
                <div class="col-sm-4">
	                <select id ="proposalId" name="proposalId" class="form-control m-b" th:with="Map=${@PatCommonService.getProposalList()}">
	                    <option th:each="map:${Map}" th:text="${map.proposal_id}+','+${map.proposal_name}" th:value="${map.proposal_id}+','+${map.proposal_name}" ></option>  
	                </select>
                </div>
 
                <label class="col-sm-2 control-label">专利提案名称：</label>
                <div class="col-sm-4">
                    <input name="proposalName" class="form-control" type="text">
                </div>
            </div>
            
            
            
<!--             <div class="form-group">    
                <label class="col-sm-2 control-label">职务发明(0是,1否,默认0) 职务发明(0是,1否,默认0)：</label>
                <div class="col-sm-4">
                    <input name="employeeInvention" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">    
                <label class="col-sm-2 control-label">申请人id：</label>
                <div class="col-sm-4">
                    <input name="applicantId" class="form-control" type="text">
                </div>
   
                <label class="col-sm-2 control-label">专利权人：</label>
                <div class="col-sm-4">
                    <input name="patentee" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">解押原因：</label>
                <div class="col-sm-4">
                    <input name="reason" class="form-control" type="text">
                </div>
            </div>
<!--             <div class="form-group">    
                <label class="col-sm-2 control-label">0是删除，1是正常：</label>
                <div class="col-sm-4">
                    <input name="isDelete" class="form-control" type="text">
                </div>
            </div> -->
            
            
        <div class="form-group">
            <label class="col-sm-2 control-label">专利许可合同：</label>
            <div class="col-sm-4" id="fileForm1">
                <input name="filePath1" id="filePath1" class="form-control" type="file">
                <div class="btn-group-sm" role="group" id="addAttachInput">
                    <a class="btn btn-success" onclick="addAttachBtn()" >
                        <i class="fa fa-plus"></i> 追加附件
                    </a>
                </div>
            </div>
        </div>              
            
            
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script src="../../ajaxfileupload.js"></script>
    <script type="text/javascript">
        var prefix = ctx + "release/releases"
        var attachFileNum=1;
        $("#form-releases-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-releases-add').serialize(),function(data){    
                
                
                var proposalId = $('#proposalId').val();
                var arr = proposalId.split(',');
                
                var typecount =  data.data;
                
                
                savepg1(typecount);
                });
            }
        }
        
        
        /***
         * 保存附图附件
         */
        function savepg1(proposalId){
            var attachArr=new Array();
            var arr=$("#fileForm1").find("input[type='file']");
            for(var i=0;i<arr.length;i++){
                var fileId=$(arr[i]).attr('id');
                attachArr.push(fileId);
            }
            $.ajaxFileUpload({
                method:'POST',
                url: ctx + "patproposal/attach/upload",
                secureuri:false,
                fileElementId:attachArr,
                data:{'proposalId':proposalId,attachType:25},
                success:function(){
                    //继续上传技术交底附件
/*                     $.ajaxFileUpload({
                        method:'POST',
                        url: ctx + "patproposal/attach/upload",
                        secureuri:false,
                        fileElementId:"technicalFile",
                        data:{'proposalId':proposalId,attachType:1},
                        success:function(result){
                            var parent = window.parent;
                            if (parent.table.options.type == 0) {
                                $.modal.close();
                                parent.$.modal.msgSuccess(result.msg);
                                parent.$.table.refresh();
                            }
                        }
                    }); */
                } 
            });
        }        
                
        
        
        
        /**
         *  删除附件
         */
        function delAttachBtn(param){
            $("#"+param.id).remove();
        }        
        
        
        
        function addAttachBtn(){
        	
            ++attachFileNum;
            $("#addAttachInput").before(
                '<div id="inputFile'+attachFileNum+'">' +
                '   <input class="form-control" style="width: 95%;display:inline-block;" type="file" name="filePath1" id="filePath1'+attachFileNum+'">'+
                '   <a class="close-link" onclick="delAttachBtn(inputFile'+attachFileNum+');" title="删除该附件">' +
                '       <i class="fa fa-times"></i>' +
                '   </a>' +
                '</div>');
        }
    </script>
</body>
</html>