<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改专利运用解押')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-releases-edit" th:object="${ryPatentlRelease}">
            <input name="permitId" th:field="*{permitId}" type="hidden">
            
            
            
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">专利提案编号：</label>
                <div class="col-sm-4">
                    <input name="proposalId" th:field="*{proposalId}" class="form-control" type="text" required>
                </div>
  
                <label class="col-sm-2 control-label">专利提案名称：</label>
                <div class="col-sm-4">
                    <input name="proposalName" th:field="*{proposalName}" class="form-control" type="text">
                </div>
            </div>
<!--             <div class="form-group">    
                <label class="col-sm-2 control-label">职务发明(0是,1否,默认0) 职务发明(0是,1否,默认0)：</label>
                <div class="col-sm-4">
                    <input name="employeeInvention" th:field="*{employeeInvention}" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">    
                <label class="col-sm-2 control-label">申请人id：</label>
                <div class="col-sm-4">
                    <input name="applicantId" th:field="*{applicantId}" class="form-control" type="text">
                </div>
    
                <label class="col-sm-2 control-label">专利权人：</label>
                <div class="col-sm-4">
                    <input name="patentee" th:field="*{patentee}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">解押原因：</label>
                <div class="col-sm-4">
                    <input name="reason" th:field="*{reason}" class="form-control" type="text">
                </div>
            </div>
<!--             <div class="form-group">    
                <label class="col-sm-2 control-label">0是删除，1是正常：</label>
                <div class="col-sm-4">
                    <input name="isDelete" th:field="*{isDelete}" class="form-control" type="text">
                </div>
            </div> -->
            
			<div class="form-group">    
                <label class="col-sm-2 control-label">专利许可合同：</label>
                <div id = "download1" class="col-sm-4">
                </div>
            </div>                
            
            
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "release/releases";
        $("#form-releases-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-releases-edit').serialize());
            }
        }
        
        
        
        
        
        
        
        
        
        function downloadFile(value){
        	

        	window.location.href = ctx + "common/download/resource?resource=" + value;
        	// url: ctx + "patproposal/attach/upload",
         // window.location.href = ctx + "common/download/resource?resource=" + value;
        }
        
        var coId = "[[${ryPatentlRelease.permitId}]]";
        getpatentpermitcontract(coId,25);
        // 获取下载文件列表
    	function getpatentpermitcontract(proposalId,uploadType){
    			$.ajax({
    				type: "GET",
    				//dataType: "json",
    				url: ctx + "patproposal/attach/getattach?proposalId=" + proposalId+"&uploadType="+uploadType,
    				//url: '${ctx}/env/envConditions/downLoadExcite',
    				//data: {proposalId:proposalId},
    				success: function (data) {
    					
    					//data回调信息
    					 if(data.msg=="0"){
    				         for(i=0;i<data.data.length;i++){
    				        	var acctype = data.data[i].attach_type;
    				        	 if(acctype == 25){
        				        	 var accname = data.data[i].accacht_name;
        				        	 var accpath = data.data[i].attach_path 
        				        	 $("#download1").append("<a href='#' onclick=downloadFile('"+accpath+"')>"+accname+"</a> &nbsp&nbsp&nbsp" ); 
    				        	 }
      	 
    				         }
    				         
    				     }
    				}
    				});
    		
    	}
    </script>
</body>
</html>