<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>公司主体：</label>
                                <input type="text" name="applicantMain"/>
                            </li>
                            <li>
                                <label>公司编码：</label>
                                <input type="text" name="applicantCode"/>
                            </li>
                            <li>
                                <label>预算年度：</label>
                                <input type="text" name="budgetYear"/>
                            </li>
                            <li>
                                <label>业务名称：</label>
                                <input type="text" name="businessName"/>
                            </li>
                            <li>
                                <label>预算编号：</label>
                                <input type="text" name="budgetCode"/>
                            </li>
                            <li>
                                <label>预算额度：</label>
                                <input type="text" name="budgetLimit"/>
                            </li>
                            <li>
                                <label>费用编码：</label>
                                <input type="text" name="costCode"/>
                            </li>
                            <li>
                                <label>费用项目：</label>
                                <input type="text" name="costProject"/>
                            </li>
                            <li>
                                <label>操作人：</label>
                                <input type="text" name="operator"/>
                            </li>
                            <li>
                                <label>执行情况：</label>
                                <input type="text" name="budgetExecute"/>
                            </li>
                            <li>
                                <label>执行率：</label>
                                <input type="text" name="executeRate"/>
                            </li>
                            <li class="select-time">
                                <label>操作时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginOperatTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endOperatTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:budget:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:budget:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:budget:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:budget:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:budget:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:budget:remove')}]];
        var prefix = ctx + "co/budget";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【请填写功能名称】",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'budgetid', 
                    title: '费用表id',
                    visible: false
                },
                {
                    field: 'applicantMain', 
                    title: '公司主体'
                },
                {
                    field: 'applicantCode', 
                    title: '公司编码'
                },
                {
                    field: 'budgetYear', 
                    title: '预算年度'
                },
                {
                    field: 'businessName', 
                    title: '业务名称'
                },
                {
                    field: 'budgetCode', 
                    title: '预算编号'
                },
                {
                    field: 'budgetLimit', 
                    title: '预算额度'
                },
                {
                    field: 'businessDescribe', 
                    title: '业务描述'
                },
                {
                    field: 'costCode', 
                    title: '费用编码'
                },
                {
                    field: 'costProject', 
                    title: '费用项目'
                },
                {
                    field: 'remark', 
                    title: '备注'
                },
                {
                    field: 'operator', 
                    title: '操作人'
                },
                {
                    field: 'budgetExecute', 
                    title: '执行情况'
                },
                {
                    field: 'executeRate', 
                    title: '执行率'
                },
                {
                    field: 'operatTime', 
                    title: '操作时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.budgetid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.budgetid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>