<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-technical-edit" th:object="${ryProposalTechnical}">
            <input name="technicalId" th:field="*{technicalId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">技术领域描述：</label>
                <div class="col-sm-8">
                    <textarea name="technicalDesc" class="form-control">[[*{technicalDesc}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/technical";
        $("#form-technical-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-technical-edit').serialize());
            }
        }
    </script>
</body>
</html>